.tech {
    width: 100%;
    padding: 6rem 1rem;
    background: rgb(1, 2, 15)
}

.card-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 3rem;
}

.card{
    border: 1px solid whitesmoke;
    color: #eee;
    text-align: center;
    padding: 2rem;
}

.card:hover{
    background-color: #011c35;
}

.card h3{
    font-size: 1.4rem;
    padding: 1rem;
}

.card p{
    padding: 10px 0;
    padding-bottom: 1.6rem;
}

.bar{
    border-bottom: 1px solid whitesmoke;
    width: 10%;
    margin: 1.5rem auto;
    display: block;
}

.tsc{
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem 0;
}

/* .btn{
    display: block;
    width: 80%;
    margin: 2rem auto;
    padding-bottom: 2rem;
} */

@media screen and (max-width: 740px) {
        .card-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}