.tech{
    width: 100%;
    padding: 6rem 1rem;
    background: rgb(1, 5, 31)
}

.card-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1rf);
    grid-gap: 40px;
}